*{
    padding-top: 0.5%;
    padding-left: 10%;
    padding-right: 10%;
}

h1, h2, h3, label{
    font-weight: bold;
    text-align: center;
    padding-left: 5%;
}

#dawg{
    border-radius: 25px;
    border: 2px black;
    background-color: palegoldenrod;
    text-align: left;
    border: black solid 2px;
}

#dawg #other{
    width: 100%;
    padding: 10%;
}

#dawg #programme{
    width: 50%;
}
