h1{
    color:black;
    background-color: gray;
}

h2, h3{
    color: red;
}

*{
    box-sizing: border-box;
    font-family: Arial;
}

table{
    border-collapse: collapse;
    width: 50%;
    text-align: left;
}

td, th{
    padding: 8px;
    border-bottom: 1px solid gray;
}

#uloste li{
    margin-top: 8px;
    background-color: rosybrown;
}

#temps td:nth-child(even){
    background-color: lightblue;
}

#temps th:nth-child(even){
    background-color: lightblue;
}

a:visited{
    color: pink;
}

a:hover{
    color: pink;
}

.column{
    float: left;
    width: 50%;
    padding: 8px;
}

.column img{
    width:100%
}

.row::after{
    content: "";
    clear: both;
    display: table;
}